<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{if .IsPage }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="keywords" content="{{if .IsPage }}{{ .Params.keyword }}{{ else }}{{ .Site.Params.keyword }}{{ end }}">
<meta name="author" content="Marco Janssen">

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{if .IsPage}}{{ .Description }}{{else}}{{.Site.Params.description}}{{ end }}">
<meta name="twitter:image" content="{{ .Site.BaseUrl }}/images/{{if .IsPage }}{{ .Params.image }}{{ else }}{{ .Site.Params.image }}{{ end }}">

<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{if .IsPage}}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ .Site.BaseUrl }}/images/{{if .IsPage }}{{ .Params.image }}{{ else }}{{ .Site.Params.image }}{{ end }}">
<meta property="og:site_name" content="Marco Janssen">
<meta property="fb:admins" content="100003135323167">

<meta itemprop="name" content="{{ .Title }}">
<meta itemprop="description" content="{{if .IsPage}}{{ .Description }}{{else}}{{.Site.Params.description}}{{end}}">
<meta itemprop="image" content="{{ .Site.BaseUrl }}/images/{{if .IsPage}}{{ .Params.image }}{{ else }}{{ .Site.Params.image }}{{ end }}">

<title> {{ .Title }} </title>
